@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model EblanistsDatingWeb.Pages.IndexModel

<link rel="stylesheet" href="@(nameof(EblanistsDatingWeb)).styles.css" />

<body bgcolor ="#BD000B">
        <section style="text-align:center;">
            <div>
                <p style="align-content:center; ">
                    <a style="color:white; font-family:OpenSymbol; font-weight:400; font-size:larger;" asp-page="Plan"><h1>we are eblanists and we have a plan</h1></a>
                </p>
                <p style="align-content:center;">
                    <a style="color:white; font-family:OpenSymbol; font-weight:400; font-size:larger;" asp-page="Letter"><h1>letter to vegantinatalists</h1></a>
                </p>
            </div>
        </section>
</body>