@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model EblanistsDatingWeb.Pages.LetterModel

<body bgcolor="#BD000B">
    <section>
        <div>
            <p>
                <b></b>
                <br>
                <b>
                    <span style="color:white; font-family:OpenSymbol; font-weight:400; text-align:center;">
                        this is my appeal to vegantinatalists and only to them. 
                        stop propaganda, stop activism, you can't stop speciesism, your actions are meaningless. 
                        we need not propaganda but unification. 
                        stop changing the old society, 
                        let's create a new one and give an alternative life to empathic smart people. 
                        we can't save cows, rabbits and chickens, 
                        let's at least save these ethical people from the fascists, let's save each other. 
                        i understand that it is dangerous 
                        i undertand that governments are destroying pacifist communities, 
                        so we must be careful, we must be open, we must not try to treat fascists. 
                        it must be admitted that they are also animals and they must also be left alone, 
                        let them be fascists. but we must not let them be fascists with us. 
                        we must create our own settlement where there will be complete freedom of speech, 
                        public nudity and public sex. it is a settlement of eblanists who are also vegatinatalists. 
                        i want to tell you that just because we're in hell doesn't mean we have to suffer too. 
                        saving others is useless, let's save each other. 
                        answer yourself a simple question: do you really want to spend the rest of your life among the fascists? 
                        if not, let's create our own ethical society and not engage in stupid bullshit. I said everything
                    </span>
                </b>
                <br>
                <b></b>
                <b></b>
                <b></b>
            </p>
        </div>
    </section>


    <footer>
        <div>
            <a style="color:white; font-family:OpenSymbol; font-weight:500" asp-page="Index">back</a>
        </div>
    </footer>

</body>
