@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model EblanistsDatingWeb.Pages.PlanModel

<body bgcolor="#BD000B">
    <section>
        <div>
            <p>
                <b></b>
                <br>
                    <b>
                        <span style="color:white; font-family:OpenSymbol; font-weight:400; text-align:center;">
                        we have created a gated community. all members of our community are adults. 
                        we bought land in the tropical zone near the ocean and fenced it with a three-meter opaque fence. 
                        we built twelve houses with many rooms. we have autonomous electricity, drinking water and internet. 
                        we grow fruits, vegetables, herbs and roots to feed ourselves. 
                        on the territory of our community veganism. 
                        we have enough territory for long walks within the community. 
                        there are thirty of us, and maybe a hundred and fifty, but no more. we don't have pets, 
                        we don't have chickens or cows, but other types of monkeys are climbing into our community. 
                        we give them surplus food outside the territory of our settlement so that they do not take our crops. 
                        all members of our community have the right to public nudity and public sex. 
                        we have complete freedom of speech and a ban on any physical violence except in response to it. 
                        we are forbidden even to touch another person if he did not give you consent to this. 
                        if we want sex, we can offer sex to any tribesman and not be afraid of physical aggression. 
                        for this reason, we rarely have sex, it has ceased to be difficult for us to access, 
                        and we have lost interest in it. we have a constitution where our basic freedoms are spelled out and we solve everyday issues democratically. 
                        we have a rule to turn off the music or stop playing/singing if someone asks for silence. 
                        or you can move to another place where the music will not disturb this person. 
                        those who want to have children leave our tribe. we have no concept of decent and indecent, 
                        there are only rules within which we are free in self-expression. 
                        to live in our community, you don't need to pay, you can even not work, 
                        you can do nothing at all, the main thing is not to do something that would be contrary to our rules. 
                        we gave each other freedom, so we want to work for each other and we work with pleasure, 
                        because it has ceased to be a duty.
                        we have nothing prohibited by the laws of the state where we are. we are not against weapons and drugs, 
                        but we do not want to endanger each other by violating the laws of the state, 
                        so we do not have prohibited substances and means of self-defense. 
                        you can get into our community only by accepting our rules, and you can leave it at any time. 
                        those who break the rules, we expel, giving him the funds necessary to integrate back into the super tribe. 
                        we can leave the territory of the community and return at any time. 
                        when there are more of us, we plan to record films about ourselves and 
                        publish them to show that we lead a peaceful, harmless life. 
                        in films we will be dressed so as not to embarrass those for whom other people's nudity is a problem. 
                        we found a way to send this text back in time by dreaming it to ourselves. 
                        most likely at the moment when you read this text, we do not exist yet. 
                        if you feel that this is not a joke, but remember your future in this text, welcome home, we were waiting for you
                        </span>
                    </b>
                <br>
                <b></b>
                <b></b>
                <b></b>
            </p>
        </div>
    </section>


    <footer>
        <div>
            <a style="color:white; font-family:OpenSymbol; font-weight:500" asp-page="Index">back</a>
        </div>
    </footer>

</body>